

/* admin welcome page */
#welcome {
    width: 1200px;
    margin: 0 auto;
}
.admin-row {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.admin-item {
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    width: 350px;
    background: lightgray;
}

.counter {
    font-size: 4em;
}

/* admin navigation menu */
#menu {
    width: 400px;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 50px;
}

/* admin data table div */
#data {
    width: 800px;
}

table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
}

.row-control {
    display: flex;
    justify-content: space-around;
}

.td-control {
    width: 10%;
}

.row-center {
    text-align: center;
}

#add-publisher, #add-category, #add-book, #add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-group {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}


/* edit catalogue */

.edit-label {
    width: 120px;
    margin-right: 10px;
}

.text-input {
    width: 100%;
}

#language-tabs {
    display: flex;
}
.language-tab {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border-color: grey;
    border-width: 1px;
}

#input-tabs {
    padding: 0 5px 5px 5px;
    border: 1px solid grey;
}

.div-input {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

#image-input {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* user modal */
#container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#add-user-modal {
    margin: 100px auto;
    padding-top: 20px;
    display: none;
    position: fixed;
    width: 350px;
    height: 400px;
    background: darkgrey;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#content {
    margin: 0 auto;
    display: flex;
    justify-content: left;
}
