* {
    font-family: 'Jost', sans-serif;
}

form {
    margin-block-end: 0;
}

img + p {
    margin-left: 10px;
}

span + span {
    margin-left: 100px;
}

img + input {
    margin-left: 50px;
}

.control-img {
    cursor: pointer;
}

.control-button {
    width: 210px;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    background: dimgrey;
    font-size: 1em;
    margin: 20px auto 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.control-button:hover{
    background: slategrey;
}

.user-input {
    width: 210px;
    height: 40px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}