header {
    display: flex;
    justify-content: space-between;
}
.user-control {
    margin-right: 100px;
    position: relative;
    display: inline-block;
}

.user-control:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#books {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}

.book {
    border: 2px solid #ddd;
    padding: 5px;
}

#book {
    display: flex;
    justify-content: left;
}

#control {
    display: flex;
    justify-content: center;
}

#book-image {
    margin: 50px;
}

#book-details {
    margin: 50px;
}
img {
    border-radius: 3px;
    display: block;
    margin: 5px;
}

#content {
    display: flex;
    justify-content: normal;
}

#filter {
    padding: 10px;
}

.filter-item {
    padding: 10px;
    margin-bottom: 20px;
}

#auth-ul {
    list-style-type: none;
}

.book-details {
    display: flex;
    justify-content: center;
}

.book-text-details {
    margin-top: 70px;
    padding-left: 20px;
    font-size: small;
    text-align: left;
}