header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-control {
    margin-right: 100px;
    position: relative;
    display: inline-block;
}

.user-control:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#books {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}

.book {
    border: 2px solid #ddd;
    padding: 5px;
}

#book {
    display: flex;
    justify-content: left;
}

#control {
    display: flex;
    justify-content: space-around;
}

#add-to-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#quantity {
    height: fit-content;
    text-align: center;
    width: 50px;
    margin: 20px 50px 10px 0;
}

#book-image {
    margin: 50px;
}

#book-details {
    margin: 50px;
}

img {
    border-radius: 3px;
    display: block;
    margin: 5px;
}

#content {
    display: flex;
    justify-content: normal;
}

#filter {
    padding: 10px;
}

.filter-item {
    padding: 10px;
    margin-bottom: 20px;
}

#auth-ul {
    list-style-type: none;
}

.book-details {
    display: flex;
    height: 170px;
    /*justify-content: center;*/
}

.book-text-details {
    /*margin-top: 70px;*/
    padding-left: 20px;
    font-size: small;
    text-align: left;
}

#cart-img {
    counter-reset: section;
}

.count:before {
    counter-increment: section;
    content: counter(section);
}
#badge {
    border-radius:50%;
    color:#fff;
    background-color:#f44336;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    position:relative;
    top:-55px;
    right: 0;
}

.number, .quantity {
    text-align: center;
}

.price, .sum {
    text-align: right;
    margin-right: 10px;
}

h2 {
    text-align: center;
    margin: 50px auto;
}


.delete, .plus, .minus {
    cursor: pointer;
}

#cart {
    width: 1200px;
    margin: 0 auto;
}
#total {
    text-align: right;
    margin-right: 170px;
}
#data {
    width: 800px;
    margin: 0 auto;
}